In [10]:
"""
RationalPopulationGrowth.ipynb

Braden Oh, Melissa Anthony
ModSim Fall 2017, Olin College of Engineering

During the course of working through the Chapter 3 ModSim notebook it 
was discovered by a number of students that the population growth data
for the years 0AD-2015 fits a rational function flipped over the
y-axis and shifted to the right.  The purpose of this notebook is to
attempt to answer the question:

"Why does the population behave this way?"

Our assumption going in (09/23/2017) is that a number of time windows
exist in recent time frames (~1700-present) that resulted in rapid
growth spikes.  Our thought is that the aggregate graph of these time
windows' best fit curves will sum to a rational curve.  

This notebook will attempt to generate a number of graphs for varying 
time windows of relevance within the time period 0AD-2017 and aggregate
them together, hopefully mapping events in human history to population
spikes that will aggregate to fit a rational function.

"""

# Set environmental settings
# --------------------------------------
%matplotlib inline

# Import necessary libraries
# --------------------------------------
from modsim import *
from pandas import read_html
from pandas import read_excel

print("Cell ran successfully")

Cell ran successfully

The following sequence of cells imports the necessary data files for this simulation and test-prints various parts of those files (once imported) to verify that the import worked successfully:

In [17]:
# Import necessary data
# --------------------------------------
WikiDataTable = read_html('World_population_estimates.html', header=0, index_col=0, decimal='M')
ExcelDataTable = read_excel(io='PopData.xlsx')

print("Cell ran successfully")

Cell ran successfully

In [20]:
# Select the portion of the wikipedia data table that holds recent data
WikiRecentData = WikiDataTable[2]

# Format the wikipedia test data
WikiRecentData.columns = ['census', 'prb', 'un', 'maddison', 
                  'hyde', 'tanton', 'biraben', 'mj', 
                  'thomlinson', 'durand', 'clark']

WikiRecentData.head()

,census,prb,un,maddison,hyde,tanton,biraben,mj,thomlinson,durand,clark
Year,,,,,,,,,,,
1950,2557628654,2.516000e+09,2525149000,2.544000e+09,2.527960e+09,2.400000e+09,2.527000e+09,2.500000e+09,2.400000e+09,NaN,2.486000e+09
1951,2594939877,NaN,2572850917,2.571663e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,2636772306,NaN,2619292068,2.617949e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2682053389,NaN,2665865392,2.665959e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,2730228104,NaN,2713172027,2.716927e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
ExcelDataTable.head()

   Year   Population    Location          Source
0  2500  90000000000  Everywhere  Nothing at all

In [26]:
ExcelDataTable.columns
ExcelDataTable.Year[0]

2500