In [27]:
"""
RationalPopulationGrowth.ipynb

Braden Oh, Melissa Anthony
ModSim Fall 2017, Olin College of Engineering

During the course of working through the Chapter 3 ModSim notebook it 
was discovered by a number of students that the population growth data
for the years 0AD-2015 fits a rational function flipped over the
y-axis and shifted to the right.  The purpose of this notebook is to
attempt to answer the question:

"Why does the population behave this way?"

Our assumption going in (09/23/2017) is that a number of time windows
exist in recent time frames (~1700-present) that resulted in rapid
growth spikes.  Our thought is that the aggregate graph of these time
windows' best fit curves will sum to a rational curve.  

This notebook will attempt to generate a number of graphs for varying 
time windows of relevance within the time period 0AD-2017 and aggregate
them together, hopefully mapping events in human history to population
spikes that will aggregate to fit a rational function.

"""

# Set environmental settings
# --------------------------------------
%matplotlib inline

# Import necessary libraries
# --------------------------------------
from modsim import *
from pandas import read_html
from pandas import read_excel
from pandas import read_csv

print("Cell ran successfully")

Cell ran successfully

The following cell imports the necessary data files for this simulation and test-prints various parts of those files (once imported) to verify that the import worked successfully:

In [40]:
# Import necessary data
# --------------------------------------
WikiDataTable = read_html('World_population_estimates.html', header=0, index_col=0, decimal='M')
ExcelDataTable = read_excel(io='PopData.xlsx')
CSVDataTable = read_csv('world-population-1750-2015-and-un-projection-until-2100.csv')

print("Imports successful")


# Format and test the Wikipedia data
# --------------------------------------
# Select the portion of the wikipedia data table that holds recent data
WikiRecentData = WikiDataTable[2]

# Change the names of each of the columns
WikiRecentData.columns = ['census', 'prb', 'un', 'maddison', 
                  'hyde', 'tanton', 'biraben', 'mj', 
                  'thomlinson', 'durand', 'clark']

# Execute the head function to verify the import worked
WikiRecentData.head()


# Format and test the Excel data
# --------------------------------------
# Requires no formatting changes, so go ahead and run the head function
ExcelDataTable.head()


# Format and test the CSV data
# --------------------------------------
# Requires no formatting changes, so go ahead and run the head function
CSVDataTable.head()

Imports successful

   Biraben (1980)  Unnamed: 1     1    252000000
0  Biraben (1980)         NaN  1000  253000000.0
1  Biraben (1980)         NaN  1500  461000000.0
2  Biraben (1980)         NaN  1700  679000000.0
3  Biraben (1980)         NaN  1750  770000000.0
4  Biraben (1980)         NaN  1800  954000000.0

Each data is a pandas DataFrame object.  This object has a bunch of obnoxious characteristics, so here's a cheat sheet of useful ways to reference things

`DataFrame.columns` outputs a pandas Index object

`DataFrame.<column name>` outputs a pandas Series object, pairing items from the first column with items in the column name you wanted to access

In [26]:
ExcelDataTable.columns
ExcelDataTable.Year[0]

2500

   Biraben (1980)  Unnamed: 1     1    252000000
0  Biraben (1980)         NaN  1000  253000000.0
1  Biraben (1980)         NaN  1500  461000000.0
2  Biraben (1980)         NaN  1700  679000000.0
3  Biraben (1980)         NaN  1750  770000000.0
4  Biraben (1980)         NaN  1800  954000000.0